/* .container {
    padding-left: 30vh;
    padding-right:30vh;
    margin:0 auto;
} */
.services{
  background-color: #fff;
}
.mobile {
  background-color: #fff;
}

.header{
  padding-top:3vh;
  padding-bottom: 5vh;
}
.services {
  padding-top:5vh;
  padding-bottom: 5vh;
}
.serviceContainer {
  display: block;
  text-align:center;
}

.serviceItems {
  display: inline-block;
  text-align: center;
}



