/* Landscape tablets */
@media only screen and (min-width: 768px) {
  .sidePad {
    padding-left: 5vh;
      padding-right:5vh;
}
.redGrad {
  border-radius: 9px;
  color:white;
  text-align: center;
  padding: 20px 40px;
}
  .center p {
    font-size: 60px;
  }
  .services {
    padding-top:13vh;
    padding-bottom: 13vh;
  }
  .serviceContainer {
    display: table;
  }
  
  .serviceItems {
    display: table-cell;
    text-align: center;
  }
  .serviceItems{
    width:auto;
    margin:1vh;
  }
  .serviceItems img {
    width:auto;
  }
  .browser p {
    font-size: 11px;
  }
  .mobile{
    padding-top:10vh;
    padding-bottom: 5vh;
    height:55vh;
  }
  .mobile .phoneImage{
    float:left;
    padding-right:5vw;
    padding-left: 15vw;
  }
  .mobile img{
    height:auto;
    width:auto;
  }
  .mobile .details h3{
    font-size: 32px;
    font-family: 'Roboto Light';
    font-weight: 800;

  }
  .mobile p {
    font-size:11px;
  }
  .portfolio h3{
    font-size:32px;
  }
  .card {
    width:30%
  }
  .statsItems p {
    font-size:11px;
  }
  .teamCard{
    width:22%;
  }
  .aboutSite {
    padding-left:10vw;
    padding-right: 10vw;
  }
  .modernDesign {
    padding-left:10vw;
    padding-right: 10vw;
  }
  .about {
    padding-left:10vw;
    padding-right: 10vw;
    height:95vh;
  }
  .mapImage .mapCard {
    margin-right:15%
  }

  
}

/* laptop/desktop */
@media only screen and (min-width: 992px) {
  .sidePad {
    padding-left: 30vh;
      padding-right:30vh;
}
.icon {
  display:none;
}
.topnav {
  overflow: hidden;
  float:right;
  
}
.topnav .navItems {
  display:block;
}
.topnav .navItems a {
  overflow: hidden;
  float:left;
  margin-left:.5vw;
  padding: 13px 20px;
}
 .topnav a{
   border-radius: 9px;
 } 
 .center p{
   font-size:60px;
 }
 .serviceItems h3{
   font-size:15px
 }
 .serviceItems p{
   font-size:11px;
 }

 .browser {
   height:80vh
 }
 .browser h6{
   font-size:28px;
   font-family: 'Roboto Thin';
   font-weight: bold;
 }

 .browser img {
   width:auto;
   margin:0 auto;
   height:auto;
 }
 .desc {
  padding: 35px 70px;
  background-color: white;
}
.statsItems h3 {
  font-size: 32px;
}
.statItems p{
  font-size: 11px;
}
.team h3 {
  font-size:32px;

}
.quoteIcon {
  padding-top:10vh;
}
.subscribe  {
  padding-top:10vh;
}
.aboutSite h6 {
  font-size:18px;
  padding-top:15vh;
  padding-bottom:5vh;
}
.aboutSite p {
  color:#929BA0;
  font-size:11px
}
.clientCard p {
  color:white;
  font-size:11px;
}
.about p {
  color:white;
  padding-bottom: 10vh;
  padding-left:20%;
  padding-right: 20%;
  font-size:11px;
}
.about .form .submitBtn {
  margin:4vw;
}

}
