/* Landscape tablets */
@media only screen and (min-width: 768px) {
  .sidePad {
    padding-left: 5vh;
      padding-right:5vh;
}
  .center p {
    font-size: 60px;
  }
  .serviceItems h3 {
    font-size: 15px;
    padding:3vh;
  }
  .serviceItems p {
    font-size: 13px;
    color:gray;
  }
  .serviceContainer {
    display: table;
  }
  
  .serviceItems {
    display: table-cell;
    text-align: center;
  }

}

/* laptop/desktop */
@media only screen and (min-width: 992px) {
  .sidePad {
    padding-left: 30vh;
      padding-right:30vh;
}
.icon {
  display:none;
}
.topnav {
  overflow: hidden;
  float:right;
  
}
.topnav .navItems {
  display:block;
}
.topnav .navItems a {
  overflow: hidden;
  float:left;
  margin-left:.5vw;
  padding: 13px 20px;
}

}
