html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", Arial;
  background-color: #fff;
}

.centerThis{
  text-align: center;
}
.centerItem {
  display: inline-block;
}

.topnav {
  overflow: hidden;
  float:right;
  
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 13px 25px;
  text-decoration: none;
  font-size: 13px;
  border-radius: 9px;
  margin-left:1vw;
}

.topnav a:hover {
  background: #63F4C8;
background: -webkit-linear-gradient(top, #63F4C8, #48DACD);
background: -moz-linear-gradient(top, #63F4C8, #48DACD);
background: linear-gradient(to bottom, #63F4C8, #48DACD);
  color:white;
}

.topnav a.active {
  background: #63F4C8;
background: -webkit-linear-gradient(top, #63F4C8, #48DACD);
background: -moz-linear-gradient(top, #63F4C8, #48DACD);
background: linear-gradient(to bottom, #63F4C8, #48DACD);
  color: white;
}

.topnav .icon {
  display: none;
  background: url(../img/bar.png) no-repeat;
  height:30px;
  width:30px;
}

.logo {
  float: left;
}

.home {
  text-align: center;
  position: relative;
  margin-top: 3vh;
  height:75vh;
  background: #63F4C8;
background: -webkit-linear-gradient(top, #63F4C8, #48DACD);
background: -moz-linear-gradient(top, #63F4C8, #48DACD);
background: linear-gradient(to bottom, #63F4C8, #48DACD);
}
.redGrad {
  background: #FF6A54;
background: -webkit-linear-gradient(top, #FF6A54, #FF3059);
background: -moz-linear-gradient(top, #FF6A54, #FF3059);
background: linear-gradient(to bottom, #FF6A54, #FF3059);
border:none;
color:white;
border-radius: 9px;
  color:white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  margin-top:5vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center p {
  font-size:60px;
  color:white;
  font-family: 'Roboto Thin';
  font-weight: 500;
}

button a {
  color:white;
  text-decoration: none;
}

.serviceItems h3 {
  font-size: 15px;
  padding:3vh;
}
.serviceItems p {
  font-size: 13px;
  color:gray;
}


.browser {
  height:80vh;
  text-align: center;
  background: #FF6A54;
  background: -webkit-linear-gradient(top, #FF6A54, #FF3059);
  background: -moz-linear-gradient(top, #FF6A54, #FF3059);
  background: linear-gradient(to bottom, #FF6A54, #FF3059);
}
.browser h6 {
  padding-top:10vh;
  padding-bottom: 5vh;
  color:white;
  font-size: 32px;
}
.browser p {
  font-size: 13px;
  color:white;
  font-family: 'Roboto Thin';
  padding-bottom: 15vh;
  padding-left:25%;
  padding-right: 25%;
}
.browser img{
  width: 50%;
}

.mobile{
  padding-top:10vh;
  padding-bottom: 5vh;
  height:45vh;
}
.mobile .phoneImage{
  float:left;
  padding-right:5vw;
  padding-left: 15vw;
}
.mobile img{
  height:100%;
}
.mobile .details h3{
  font-size: 40px;
  font-family: 'Roboto Medium';
  font-weight: 300;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.mobile p {
  color:gray;
  font-size:13px;
  font-family: 'Roboto Light';
}

.portfolio{
  background: #63F4C8;
background: -webkit-linear-gradient(top, #63F4C8, #48DACD);
background: -moz-linear-gradient(top, #63F4C8, #48DACD);
background: linear-gradient(to bottom, #63F4C8, #48DACD);
text-align: center;
padding-top:10vh;
}

ul {
  list-style-type: none;
}
li {
  float: left;
  padding: 3px;
}
.portfolio h3{
  font-size: 32px;
  color:white;
  font-family: 'Roboto Thin';
  font-weight: 800;
}
.portfolio p{
  font-family: 'Roboto Light';
  font-size: 12px;
  color:white;
  padding-top: 5vh;
  padding-left:25%;
  padding-right: 25%;
}
.portfolio .list {
  padding-top: 10vh;
  padding-bottom: 5vh;
}
.portfolio .list a{
  padding-left: 3vw;
  font-size: 15px;
  font-weight: 600;
}
.portfolio .list .active {
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:inline-block;
  width:30%;
  margin-left:1vw;
  margin-bottom: 3vh;
}
.imagePlaceholder {
  background-color: #232E3D;
  width: 25vw;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.desc {
  padding: 20px 36px;
  background-color: white;
}
.desc h4 {
  font-weight: 300;
}
.desc p {
  padding:1vh;
  color:gray;
}
.blackBg {
  background-color:#232E3D;
  height:33vh;
}

.downButton {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.stats {
  height:33vh;
  background-color:#233537;
}
.statContainer {
  display: table;
}

.statItems {
  display: table-cell;
  text-align: center;
  padding-left: 7vw;
  padding-top: 5vh;
}
.statItems h3{
  color:white;
  font-size: 32px;
  font-family: 'Roboto Medium';
  font-weight: 300;
  padding-top: 3vh;
}
.statItems p {
  color:#10CAB7;
  font-size: 11px;
  font-family: 'Roboto Medium';
  font-weight: 300;
  padding-top: 3vh;
}
.team {
  text-align: center;
  background-color: #fff;
 }
 .team h3{
   font-size: 32px;
   padding-top: 5vh;
 }
 .team p{
   font-size: 11px;
   color:gray;
   padding-top: 5vh;
   font-family: 'Roboto Light';
   padding-left:25%;
   padding-right: 25%;
   padding-bottom: 7vh;
 }

.teamCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:inline-block;
  width:22%;
  margin-left:1vw;
  margin-bottom: 3vh;
  text-align: center;
  height:45vh;
}
.teamCard .teamBg{
  background-color:#232E3D;
  height:50%;
}
.teamCard .teamDesc {
  background: #63F4C8;
background: -webkit-linear-gradient(top, #63F4C8, #48DACD);
background: -moz-linear-gradient(top, #63F4C8, #48DACD);
background: linear-gradient(to bottom, #63F4C8, #48DACD);
height:50%;
}
.teamCard .teamDesc h6 {
  color:white;
  font-family: 'Roboto Light';
  
}
.teamCard .teamDesc h4 {
  padding-top:3vh;
}
.teamCard .teamDesc p {
  font-size: 13px;
  font-family: 'Roboto Light';
  padding-top: 2vh;
  color:black;
  padding-left: 1vw;
  padding-right:1vw;
}

.quotes {
  height:35vh;
  text-align: center;
  color:white;
  background: #FF6A54;
  background: -webkit-linear-gradient(top, #FF6A54, #FF3059);
  background: -moz-linear-gradient(top, #FF6A54, #FF3059);
  background: linear-gradient(to bottom, #FF6A54, #FF3059);
}
.quoteIcon {
  padding-top:10vh;
}
.quotes h3 {
  font-size:15px;
  padding-top:2vh;
  font-family: 'Roboto Thin';
}
.quotes h6 {
  padding-top:1vh;
  padding-bottom:5vh;
}

.quotes .nextIcon {
  padding-left:2vw;
}
.subscribe {
  height:20vh;
  color:white;
  background:#233537;
  padding-top:10vh;
}
.subscribe h3 {
  font-family: 'Roboto Light';
}
.subscribeBtn {
  color:white;
  border:1px solid #64F6C8;
  padding:10px 35px;
  background-color: #233537;
  margin-top: 5vh;
}
.aboutSite{
  height:33vh;
}


.footer {
  text-align: center;
  height:10vh;
  background-color: #233537;
  color:white;
  position:fixed;
  z-index:-1;
  bottom:0;
  width:100%;
}
.footer h5{
  padding-top:5vh;
}
.footer a{
  text-decoration: none;
  color:#10CAB7;
}